AWS_ACCESS_KEY_ID=AKIAQCYABBYVA7ARSRGL
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
GITHUB_WEBHOOK_SECRET=252b1872f12bc7be76feb7e31e95caa28c0d93f2
GITHUB_TOKEN=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